<div class="edit-task-page">
  <header class="page-header">
    <button class="back-btn" (click)="goBackToDashboard()">
      <span class="material-symbols-outlined">arrow_back</span>
    </button>
    <h1>Edit Task</h1>
  </header>

  <main class="content-area">
    @if (taskForm) {
      <form [formGroup]="taskForm" (ngSubmit)="onUpdateTask()">
        <div class="task-input-card">
          <div class="task-field">
            <label class="field-label">Task Name</label>
            <input formControlName="name" placeholder="e.g. Meditate" class="task-name-input">
          </div>

          <div class="date-range-container">
            <div class="date-field">
              <label class="field-label">Task Start</label>
              <div class="input-wrapper">
                <span class="material-symbols-outlined">calendar_today</span>
                <input type="date" formControlName="startDay">
              </div>
            </div>

            <div class="date-field">
              <label class="field-label">Task End</label>
              <div class="input-wrapper">
                <span class="material-symbols-outlined">calendar_month</span>
                <input type="date" formControlName="endDay">
              </div>
            </div>
          </div>

          <div class="frequency-field">
            <label class="field-label">Frequency</label>
            <div class="days-row">
              @for (day of DAYS_IN_THE_WEEK; track day.value) {
                <button type="button"
                        class="day-btn"
                        [class.active]="taskForm.get('frequency')?.value.includes(day.value)"
                        (click)="onToggleDay(day.value)">
                  {{ day.abbreviation }}
                </button>
              }
            </div>
          </div>
        </div>

        <div class="footer-actions">
          <button type="submit" [disabled]="taskForm.invalid" class="save-routine-btn">
            <span class="material-symbols-outlined">check_circle</span>
            Update Task
          </button>
        </div>

      </form>
    } @else {
      <div class="loader">Loading task data...</div>
    }
  </main>
</div>
